/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-May-2018, 10:29:46
    Author     : alaeresamuel
*/

body{
    font-size: 16pt ;
}


#container{
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  overflow: visible;
  
}


#top-navbar{
    width: 100%;
    padding: 20px 0px;
    font-size: 1.4em;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px; 
    z-index: 10;
}


#bottom-navbar{
    width: 100%;
    padding: 20px 0px;
    font-size: 1.4em;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px; 
    z-index: 10;
}
#back-button{
    float: left;
}

#settings-button{
    float: right;
}

#home-button{
    float: left;
}

#qrCode-button{
    float: none;
}

#profile-button{
    float: right;
}

button{
    padding: 5px 10px;
    margin: 0px 15px;
    font-size: large;
}



#QRCodeImg{
    position: relative;
    width: 200px;
    height: auto; 
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 3px;
    padding: 10px 10px;
  
}

#displayDateTime{
    position: relative;
    width: 90%;
    margin-left: 15px;
    margin-right: 20px;
   /* margin: 10px auto; */
    padding: 5px;
}

/*#qrCode{
    
   
    position: relative;
    height: 320px;
    width: 90%;
    max-width: 320px; 
    margin: 15px auto;
    padding: 0px 10px;
    
}*/

#nextClass{
    position: relative;
    width: 90%;
   /* margin: 10px auto;*/ 
    padding: 10px 0px;
    margin: 0px 15px; 
     
}



.homepage-button{
    
    position: relative;
    height: 180px;
    width:  90%;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 3px;
/*    padding: 10px 10px;*/
  
}


#ViewCourses-button{
    position: relative;
    width: 90%;
    padding: 10px 0px;
   
}

#viewNextClass-button{
    position: relative;
    width: 90%; 
    padding: 10px 0px;
    
}

#viewTimetable-button{
    position: relative;
    width: 90%;
    padding: 10px 0px;
   
    
}